<?xml version="1.0" ?><!--
/*
 * Copyright (c) 2021, 2024, Oracle and/or its affiliates. All rights reserved.
 * ORACLE PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
--><ns0:Wix xmlns:ns0="http://wixtoolset.org/schemas/v4/wxs">

  <ns0:Fragment>

    <ns0:CustomAction Id="JpCheckInstallDir" BinaryRef="JpCaDll" DllEntry="CheckInstallDir"></ns0:CustomAction>

    <ns0:UI>
      <ns0:Dialog Id="InstallDirNotEmptyDlg" Width="300" Height="85" Title="!(loc.InstallDirNotEmptyDlg_Title)">
        <ns0:Control Id="Yes" Type="PushButton" X="100" Y="55" Width="50" Height="15" Default="no" Cancel="no" Text="!(loc.WixUIYes)">
          <ns0:Publish Event="NewDialog" Value="$(var.JpAfterInstallDirDlg)" Condition="1"></ns0:Publish>
        </ns0:Control>
        <ns0:Control Id="No" Type="PushButton" X="150" Y="55" Width="50" Height="15" Default="yes" Cancel="yes" Text="!(loc.WixUINo)">
          <ns0:Publish Event="NewDialog" Value="InstallDirDlg" Condition="1"></ns0:Publish>
        </ns0:Control>
        <ns0:Control Id="Text" Type="Text" X="25" Y="15" Width="250" Height="30" TabSkip="no" Text="!(loc.InstallDirNotEmptyDlgInstallDirExistMessage)"></ns0:Control>
      </ns0:Dialog>

      <ns0:Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="JpCheckInstallDir" Order="3" Condition="1"></ns0:Publish>
      <ns0:Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="InstallDirNotEmptyDlg" Order="5" Condition="INSTALLDIR_VALID=&quot;0&quot;"></ns0:Publish>
      <ns0:Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="$(var.JpAfterInstallDirDlg)" Order="5" Condition="INSTALLDIR_VALID=&quot;1&quot;"></ns0:Publish>

    </ns0:UI>
  </ns0:Fragment>
</ns0:Wix>